# Gradle
.gradle/
build/
*/build/

# Local configuration (contient ta cle API !)
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store

# Captures et logs
captures/
*.log

# Keystore (si tu en crees un pour signer l'app)
*.jks
*.keystore

# Fichiers generes
*.apk
*.aab